/* DEPRECATED, switched to Bootstrap host */


body {
	font-family: sans-serif;
	background-color: #dddddd;
}

/* Selects SVG elements that are children of/ withing aegisKanView <div> */
#aegisKanView > svg{
	border: 3px solid #222222;
	border-radius: 5px;
	padding: 5px;
	margin:  3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.viewerParams {
	display: flex;
}

h1{

}

p {

}

